
<nav  class="navbar navbar-expand navbar-dark nav-color ">
    <div class="container">
        <a class="navbar-brand">Angular Spring Security</a>
        <ul class="nav navbar-nav collapse navbar-collapse" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="profile">Profile</a></li>
        </ul>   
        <div>
            <ul *ngIf="!storageService.isLoggedIn()" class="nav navbar-nav collapse navbar-collapse" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="register">Registration</a></li>
            </ul>  
            <button *ngIf="storageService.isLoggedIn()" (click)="doLogOut()" class="form-control but-color btn-primary">Log Out</button>
        </div>    
    </div>
</nav>


<router-outlet></router-outlet>

<ng-container *ngIf="spinnerService.visibilty | async ">
<ng-container *ngTemplateOutlet="loadingTemp"></ng-container>
</ng-container>


<ng-template #loadingTemp>
    <mat-spinner [diameter]="50" style="margin:0 auto;" 
    mode="indeterminate" ></mat-spinner>
</ng-template>

<!-- 
<mat-spinner [diameter]="50" style="margin:0 auto;" 
mode="indeterminate"  *ngIf="spinnerService.visibilty | async"></mat-spinner>
  -->
