<div class="container h-100  d-flex flex-column justify-content-center">
    <!-- <div class="row pt-3 justify-content-center">
        <div class="col-4 text-center">
            <label>Please enter your email</label>
            <input class="form-control" required="true" [(ngModel)]="email">
        </div>
    </div>

    <div class="row pt-3 justify-content-center">
        <div class="col-4">
            <button class=" w-100 btn btn-primary" (click)="submitEmail()">Submit Email</button>
        </div>
    </div> -->

   <div class="row justify-content-center">
    <div class="col-4">
        <app-form-component [form]="form" [model]="model" [fields]="fields" (onOkClicked)="submitEmail($event)">
            <button class=" w-100 btn btn-primary">Submit Email</button>
        </app-form-component>
    </div>
   </div>
</div>
